<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="row">
				<button class="modelbtn" value="department">Departments</button>
			</div>
			<div class="row">
				<button class="modelbtn" value="job">Jobs</button>
			</div>
			<div class="row">
				<button class="modelbtn" value="meeting">Meetings</button>
			</div>
			<div class="row">	
				<button class="modelbtn" value="agenda">Agendas</button>
			</div>
			<div class="row">	
				<button class="modelbtn" value="user">Users</button>
			</div>
			<div class="row">	
				<button class="modelbtn" value="round">Rounds</button>
			</div>
			<div class="row">	
				<button class="modelbtn" value="content">Contents</button>
			</div>
			<div class="row">	
				<button class="modelbtn" value="contentFrame">ContentFrames</button>
			</div>
			<div class="row">	
				<button class="modelbtn" value="resourceText">ResourceTexts</button>
			</div>
			<div class="row">	
				<button class="modelbtn" value="resourcePercent">ResourcePercents</button>
			</div>	
			<div class="row">
				<button class="modelbtn" value="contentRow">ContentRows</button>
			</div>
				<!-- <select></select> -->
				</div>
			<div class="col-md-9">
				<div class="row" align="center">
					<button id="currentround" class="btn btn-default">Indeværende Runde</button>
					<button id="upcomingrounds" class="btn btn-default">Kommende Runder</button>
				</div>
				<br><br><br><br>
				<STRONG id="headline"></STRONG><br>
				<div class="row">
					<div class="data">
						
					</div>
				</div>
				<!-- <br><br><br>
				<select id="add-dropdown">
					
				</select>
				<button id="add-btn">Add</button> -->
			</div>
	</div>
</div>