<div class="container">
	<div class="row" align="center">
		<button id="currentround">Indeværende runde</button>
		<button id="upcomingrounds">Kommende runder</button>
	</div>
	<br><br><br><br>
	<STRONG>Samtaleforløb</STRONG><br>
	<div class="row">
		<div class="samtaleforloeb col-md-6">
			
		</div>
		<div class="samtaleforloeb2 col-md-6">
			
		</div>
	</div>
	<br><br><br>
	<select id="add-dropdown">
		
	</select>
	<button id="add-btn">Add</button>
</div>