<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="row">
				<button class="modelbtn" value="afdeling">Afdelinger</button>
			</div>
			<div class="row">
				<button class="modelbtn" value="stillingskategori">Stillingskategorier</button>
			</div>
			<div class="row">
				<button class="modelbtn" value="samtale">Samtaler</button>
			</div>
			<div class="row">	
				<button class="modelbtn" value="samtaleforloeb">Samtaleforløb</button>
			</div>
			<div class="row">	
				<button class="modelbtn" value="bruger">Brugere</button>
			</div>
			<div class="row">	
				<button class="modelbtn" value="runde">Runder</button>
			</div>
			<div class="row">	
				<button class="modelbtn" value="ressource">Ressourcer</button>
			</div>
			<div class="row">	
				<button class="modelbtn" value="frame">Frames</button>
			</div>
			<div class="row">	
				<button class="modelbtn" value="ressourceText">RessourceTexts</button>
			</div>
			<div class="row">	
				<button class="modelbtn" value="ressourcePercent">RessourcePercents</button>
			</div>	
			<div class="row">
				<button class="modelbtn" value="line">Lines</button>
			</div>
				<!-- <select></select> -->
				</div>
			<div class="col-md-9">
				<div class="row" align="center">
					<button id="currentround" class="btn btn-default">Indeværende runde</button>
					<button id="upcomingrounds" class="btn btn-default">Kommende runder</button>
				</div>
				<br><br><br><br>
				<STRONG id="headline"></STRONG><br>
				<div class="row">
					<div class="data">
						
					</div>
				</div>
				<!-- <br><br><br>
				<select id="add-dropdown">
					
				</select>
				<button id="add-btn">Add</button> -->
			</div>
	</div>
</div>