<div class="container">
  Question side:
  ResourceText
  <select id="ResourceTextQuestion">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>

  <br>
  <br>

  Answer side:
  ResourceText
  <select id="ResourceTextAnswer">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  ResourcePercent
  <select id="ResourcePercentAnswer">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>

  <br>
  <br>
  <button id="buildButton">Build</button>
  <div id="contentRowShow">
  </div>
</div>
