<div class="container">
  <%_.forEach(contentFrames, function(contentFrame) { %>
  <%= contentFrame.id + contentFrame.title %> <input type="checkbox" class="frameChecks" value="<%= contentFrame.id %>"> <br>
  <%
  });%>
  Title:
  <input type="text" id="contentTitle">
  <input type="textarea" id="contentDesc">
  <button id="buildContentBtn">Build Content</button>
  <button id="showContentBtn">Show Content</button>
  Id is:
  <input type="text" id="contentId">
  <a href="/buildContentFrame">Build ContentFrames</a>
  <a href="/buildAgenda">Build Agenda</a>
  <div id="contentShowPlace"></div>
</div>
