<div class="container">
  <%_.forEach(contentRows, function(contentRow) { %>
    <%= contentRow.id %> <input type="checkbox" class="rowChecks" value="<%= contentRow.id %>"> <br>
  <%
  });%>
  Title:
  <input type="text" id="contentFrameTitle">
<button id="buildFrameBtn">Build Frame</button>
  <button id="showFrameBtn">Show Frame</button>
  Id is:
  <input type="text" id="contentFrameId">
  <div id="frameShowPlace"></div>
</div>
