<div class="container">
  <!--Show all the contentRows in the DB and set up checkboxes next to them-->
  <% _.forEach(contentRows, function(contentRow) { %>
    <%= contentRow.id %> <input type="checkbox" class="rowChecks" value="<%= contentRow.id %>"> <br>
  <%
  });%>
  Title:
  <input type="text" id="contentFrameTitle">
  <br>
<button id="buildFrameBtn">Build Frame</button>
  <button id="showFrameBtn">Show Frame</button>
  Id is:
  <input type="text" id="contentFrameId">
  <a href="/buildContent">Build Contents</a>
  <a href="/buildContentRow">Build ContentRows</a>
  <div id="frameShowPlace"></div>
</div>
