<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 rounds">
      <p><strong>Rounds</strong></p>
    </div>
    <div class="col-md-2 agendas">
      <p><strong>Agendas</strong></p>
    </div>
    <div class="col-md-2 meetings">
      <p><strong>Meetings</strong></p>
    </div>
    <div class="col-md-2 users">
      <p><strong>Users</strong></p>
    </div>
    <div class="col-md-2 jobs">
      <p><strong>Jobs</strong></p>
    </div>
    <div class="col-md-2 departments">
      <p><strong>Departments</strong></p>
    </div>
  </div>
</div>