<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 runder">
      <p><strong>Runder</strong></p>
    </div>
    <div class="col-md-2 samtaleforløb">
      <p><strong>Samtaleforløb</strong></p>
    </div>
    <div class="col-md-2 samtaler">
      <p><strong>Samtaler</strong></p>
    </div>
    <div class="col-md-2 brugere">
      <p><strong>Brugere</strong></p>
    </div>
    <div class="col-md-2 stillingskategorier">
      <p><strong>Stillingskategorier</strong></p>
    </div>
    <div class="col-md-2 afdelinger">
      <p><strong>Afdelinger</strong></p>
    </div>
  </div>
</div>